.chat-page {
  width: 100%;
  display: flex;
}
.chat-list {
  display: flex;
  flex-direction: column;
  width: 320px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 20px;
}

.chat-list__search {
  height: 84px;
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
}

.chat-list-search__avatar {
  background-color: rgba(196, 196, 196, 0.24);
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.chat-list-search__field {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 20px;
  margin-left: 32px;
  height: 33px;
  flex-grow: 1;
  display: flex;
}

.chat-list-search__input {
  padding-left: 20px;
  border: none;
  outline: none;
  font-family: Oxygen;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;

  &::placeholder {
    color: rgba(130, 130, 130, 1);
  }
}

.search-icon {
  background: url('../../../static/img/search.svg');
  height: 23px;
  width: 23px;
  display: block;
  position: relative;
  top: 5px;
  left: 18px;
}

.chat-window {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-list__items {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chat-list__item {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
  &:hover {
    background-color: #e4edfd;
  }
}

.chat-list-item__rows {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.chat-list-item__row {
  display: flex;
  justify-content: space-between;
  width: 246px;
}

.chat-list-item__avatar {
  background: rgba(196, 196, 196, 0.24);
  width: 57px;
  height: 57px;
  border-radius: 50%;
  margin-right: 17px;
}

.chat-list-item__message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 204px;
}

.chat-header {
  height: 55px;
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.chat-header__avatar {
  background-color: rgba(239, 239, 239, 1);
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.chat-header__name {
  font-size: 13px;
  font-weight: 600;
  margin-left: 10px;
}

.chat-header__menu {
  background: url('/img/menu-3-dots.svg');
  height: 32px;
  width: 32px;
  margin-left: auto;
  cursor: pointer;
}

.chat-main {
  flex-grow: 1;
  margin: 45px 20px 17px 16px;
  overflow-y: auto;
}

.chat-main__date {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #999999;
  margin-bottom: 33px;
}

.chat-main__message {
  max-width: 402px;
  width: fit-content;
  padding: 11px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  position: relative;
}

.message-date {
  text-align: right;
  font-weight: 500;
  font-size: 9px;
  float: right;
  color: #999999;
  line-height: 16px;
  padding-left: 8px;
}

.chat-main__message_left {
  background: #f8f8f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 10px 10px 10px;
}

.chat-main__message_right {
  margin-left: auto;
  background: #e4edfd;
  border-radius: 10px 10px 0 10px;

  .message-date {
    color: #3369f3;
  }
}

.chat-main__message + .chat-main__message {
  margin-top: 10px;
}

.chat-main__message_right + .chat-main__message_right,
.chat-main__message_left + .chat-main__message_left {
  margin-top: 5px;
}

.chat-main__image {
}

.send-message {
  height: 53px;
  border-top: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.send-message__input {
  flex-grow: 1;
  background: #efefef;
  border-radius: 30px;
  border: none;
  outline: none;
  height: 32px;
  margin: 0 10px 0 5px;
  padding-left: 20px;

  &::placeholder {
    font-weight: 500;
    font-size: 12px;
    color: #999999;
  }
}

.send-message__icons {
  height: 32px;
  width: 32px;
  cursor: pointer;
  border: none;
  outline: none;
}

.send-message__icons_attach {
  background: url('/img/attach.svg');
}

.send-message__icons_send {
  background: url('/img/arrow-button.svg');
}
